WF_serverside 1.4 (2)/WF_serverside 1.4/WF_testForm v1.4/webServiceTestForm/Service References/wf_service/WF_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://student.mydesign.central.wa.edu.au/cf_Wayfinding_WebService/WF_Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://student.mydesign.central.wa.edu.au/cf_Wayfinding_WebService/WF_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WF_webService" />
  <xs:element name="checkServiceConn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkServiceConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkServiceConnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDBConn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDBConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDBConnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCampus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchCampusResult" nillable="true" type="q1:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CampusVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CampusVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusVersionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchRoomsResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchServicesResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolvePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WaypointID" type="xs:int" />
        <xs:element minOccurs="0" name="Disability" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolvePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WF_webService" minOccurs="0" name="ResolvePathResult" nillable="true" type="q4:SOAP_ResolvePath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResolvePathLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WaypointID" type="xs:int" />
        <xs:element minOccurs="0" name="Disability" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResolvePathListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WF_webService" minOccurs="0" name="GetResolvePathListsResult" nillable="true" type="q5:ArrayOfArrayOfWaypoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunImageProcessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WF_webService" minOccurs="0" name="sequence" nillable="true" type="q6:ArrayOfWaypoint" />
        <xs:element minOccurs="0" name="xanchor" type="xs:int" />
        <xs:element minOccurs="0" name="yacnhor" type="xs:int" />
        <xs:element minOccurs="0" name="scale" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunImageProcessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunImageProcessorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMapsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>